<body>
<large>
<br><b>Padstack:</b> CIR71U-1<body>
<large>
<br><b>Software Version:</b>
17.2<body>
<large>
<br><b>Date/Time</b>: 2022/02/28 9:57:07<br>
<hr style=border-top: dashed 2px; />
<blockquote>
<br><table border=1>
<tr>
<th>Severity</th>
<th>Message</th>
</tr>
<tr>
<td width=200>Warning</td>
<td width=200>Internal layers are defined for this padstack.  When loading this padstack into a design, only the internal layers with names matching those defined in the design will be used.</td>
</tr>
<tr>
<td width=200>Warning</td>
<td width=200>Drill hole breaks out of pad on layer TOP</td>
</tr>
<tr>
<td width=200>Warning</td>
<td width=200>Drill hole breaks out of pad on layer GND</td>
</tr>
<tr>
<td width=200>Warning</td>
<td width=200>Drill hole breaks out of pad on layer POWER</td>
</tr>
<tr>
<td width=200>Warning</td>
<td width=200>Drill hole breaks out of pad on layer DEFAULT INTERNAL</td>
</tr>
<tr>
<td width=200>Warning</td>
<td width=200>Drill hole breaks out of pad on layer BOTTOM</td>
</tr>
</table></br>
</blockquote>
